body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400; /* normale Stärke */
  font-style: normal;
  background: radial-gradient(ellipse at center, #0f2027, #203a43, #2c5364);
  
}

.SearchContainer{
    font-family: